# Database
DATABASE_URL="postgresql://user:password@localhost:5432/muscle_meta_matrix?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-generate-with-openssl-rand-base64-32"

# Email (Resend)
RESEND_API_KEY="re_..."
EMAIL_FROM="randy@muscle-meta.com"

# Optional - Production
VERCEL_URL=""
